/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Josefin+Sans|Lobster+Two|Righteous|Zhi+Mang+Xing&display=swap');

:root {
  --primary-color: #412fe7;
  --header-color: #9999cc;
  --title-color: #333333;
  --light-blue: #add8e6;
  --border: #333333;
  --text-color: #993300;
  --roboto: 'Josefin Sans', sans-serif;
  --gugi: 'Bowlby One SC', cursive;
  --sofia: 'Zhi Mang Xing', cursive;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color);
}

.font-roboto {
  font-family: var(--roboto);
}

.lightblue {
  color: var(--light-blue);
}

/* header*/
header {
  background-color: var(--header-color);
  font-family: var(--roboto);
}

header .site-title {
  font-family: var(--roboto);
}

.container .dropdown-toggle,
.container .dropdown-item {
  font-size: 0.8em;
}

.header-links a {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
}

/*Nav-Bar*/

.navbar-nav {
  padding: 0.8em 0em;
}

.navbar-nav .nav-link {
  font-size: 0.9em;
  color: rgb(24, 16, 16);
}

.navbar-nav .nav-item .nav-link {
  padding: 0 1.3em;
}

.navbar-nav .cart-icon {
  margin-right: 6.5rem !important;
}

img .img-fluid {
  width: 100%;
}
